.important {
	margin: $margin-top-clamp 0;
	&__title {
		text-align: center;
	}

	&__descr {
		margin: 20px auto;
		max-width: 580px;
		font-size: 16px;
		font-weight: 400;
		line-height: 130%;
	}

	&__row {
		margin-top: 50px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 10px;

		@media screen and (max-width: 869px) {
			justify-content: center;
			gap: 40px;
		}
	}

	&__item {
		flex: 0 1 24%;
	}

	&__img {
		width: 270px;
		height: 150px;

		img {
			width: 100%;
			object-fit: cover;
		}
	}

	&__text {
		margin-top: 20px;
		font-size: 16px;
		font-weight: 400;
		line-height: 130%;
	}
}
