.video-page {
	margin-top: $margin-top-clamp;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	&__wrapper {
	}

	&__title {
	}

	&__subtitle {
		margin-top: 20px;
		font-size: 24px;
		font-weight: 700;
		line-height: 29px;
	}

	&__video {
		margin-top: 50px;
		max-width: 1050px;
		width: 100%;
		position: relative;
		padding-bottom: 47.62%; 
		overflow: hidden;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
